@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Kode_Mono', 'Courier New', Courier, monospace;
}

/* Space bg */
.main {
  background: radial-gradient(circle at bottom, #0E0F3B 0, black 100%);
}

.space {
  background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.stars1 {
  background-image:
    radial-gradient(
      1px 1px at 25px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 50px 25px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 125px 20px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 50px 75px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 15px 125px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 110px 80px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}

/* .stars2 {
  background-image:
    radial-gradient(
      1px 1px at 75px 125px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 100px 75px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 199px 100px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 20px 50px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 100px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 5px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}

.stars3 {
  background-image:
    radial-gradient(
      1px 1px at 10px 10px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 150px 150px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 60px 170px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 175px 180px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 195px 95px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 95px 145px, 
      white, 
      rgba(255, 255, 255, 0)
    );
} */
  
/*  */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

imageBg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* form stylings */
input:placeholder-shown ~ label,
textarea:placeholder-shown ~ label {
  transform: translateY(0);
  opacity: 0.6;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label {
  transform: translateY(-0.9rem) scale(0.8);
  opacity: 1;
  color: #ff5722;
  transition: all 0.2s ease-out;
}

/* General input styling */
input,
textarea {
  transition: border-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.wrap{
  display: grid;
  & > * {
    grid-column: 1;
    grid-row: 1;
  }
}

/* Circles design */
.large-circle{
  background: radial-gradient(circle at 100px 100px, #FB923C, #1D101D);
  z-index: -1;
}

.blue-circle{
  background: radial-gradient(circle at 20px 100px, #07407B, #7FCDEE)
}

.dark-blue-circle{
  background: radial-gradient(circle at 100px 100px,#FB923C, #0E0F3B);
}

.lower-blue{
  background: radial-gradient(circle at 100px 100px, #07407B, #F97316);
}

.small-circle{
  background: radial-gradient(circle at 100px 100px, #7FCDEE, #F2E5F2);
}

.sun-circle{
  background: radial-gradient(circle at 100px 100px, #B8AEA3, #F2E5F2);
}

.stage {
  width: 300px;
  height: 300px;
  perspective: 1200px;
  perspective-origin: 50% 50%;
 }

 .ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
 }


 /* Hover underline animdation */